# Paper Trading Mode
PAPER_TRADING=True# Enable paper trading (simulated trading with live data)
PAPER_INITIAL_BALANCE=1000# Starting virtual balance in USDC
PAPER_FILL_DELAY_MS=100# Simulated order processing delay in milliseconds
# Exchange
EXCHANGE_TYPE=1# 1 - Paradex | 2 - Backpack
L1_ADDRESS=# ETH public address
L2_PRIVATE_KEY=# Paradox private key for account/sub
# General
IS_DEV=False# Prod/Testnet enviroment
LOG_FILE=True# Put it True if you want to save logs in file
PING_SECONDS=0.3# Ping from your server to paradex server in seconds(Check Ping section on top)
INITIAL_CLOSE_ALL_POSITIONS=False# Put it True if you want to close all postions and orders before start trading
# Default for market (Paradex)
MARKET=BERA-USD-PERP
PRICE_STEP=0.001
PRICE_ROUND=3# Number of decimal places for min price step
MARKET_MIN_ORDER_SIZE=8# Minimal posible order size
SIZE_ROUND=0# Number of decimal places for min order size step
MAX_LEVERAGE=5
# Order price params
DEFAULT_DEPTH_ORDER_BOOK_ANALYSIS=5# Number of first order in book for analysis
MAX_PRICE_STEPS_GAP=3# Max price steps gap between to order in book for place your order before
MIN_MARK_PRICE_PRICE_GAPS=3# Min number of price gap between order price and mark price
# 1 - Single market maker | 2 - Parallel market maker
STRATEGY_TYPE=1
# (Individual for every strategy)
MAX_POSITION_SIZE=30# Max full position on one side
MIN_ORDER_SIZE=15
MAX_ORDER_SIZE=15
MIN_POSITION_TIME_SECONDS=0# Min time for position life
MAX_TAKER_POSITION_TIME_SECONDS=600# After this TIME is over, position will close by MARKET
MAX_MAKER_POSITION_TIME_SECONDS=180# After this TIME is over, position will try close aggressive(first in order book) be LIMIT
TAKE_PROFIT_TAKER_THRESHOLD=0.02# If this profit percentage is reached, the position will be closed at MARKET
TAKE_PROFIT_MAKER_THRESHOLD=0.01# If this profit percentage is reached, the position will try close aggressive(first in order book) be LIMIT
STOP_LOSS_TAKER_THRESHOLD=0.05# If this lost percentage is reached, the position will be closed at MARKET
STOP_LOSS_MAKER_THRESHOLD=0.02# If this lost percentage is reached, the position will try close aggressive(first in order book) be LIMIT
