# Paper Trading Mode
PAPER_TRADING=True# Enable paper trading (simulated trading with live data)
PAPER_INITIAL_BALANCE=1000# Starting virtual balance in USDC (per account)
PAPER_FILL_DELAY_MS=100# Simulated order processing delay in milliseconds
# Exchange 1
EXCHANGE_TYPE_1=1# 1 - Paradex | 2 - Backpack
L1_ADDRESS_1=# ETH public address
L2_PRIVATE_KEY_1=# Paradox private key for FIRST account/sub
# Exchange 2
EXCHANGE_TYPE_2=1# 1 - Paradex | 2 - Backpack
L1_ADDRESS_2=# ETH public address
L2_PRIVATE_KEY_2=# Paradox private key for SECOND account/sub
# General
IS_DEV=False# Prod/Testnet enviroment
LOG_FILE=True# Put it True if you want to save logs in file
PING_SECONDS=0.3# Ping from your server to paradex server in seconds(Check Ping section on top)
INITIAL_CLOSE_ALL_POSITIONS=False# Put it True if you want to close all postions and orders before start trading
# Default for market (Paradex)
MARKET=BERA-USD-PERP
PRICE_STEP=0.001
PRICE_ROUND=3# Number of decimal places for price step
SIZE_ROUND=0# Number of decimal places for order size step
MARKET_MIN_ORDER_SIZE=8# Minimal posible order size
MAX_LEVERAGE=5
# Params for analysis order price
DEFAULT_DEPTH_ORDER_BOOK_ANALYSIS=5# Number of first order in book for analysis
MAX_PRICE_STEPS_GAP=3# Max price steps gap between to order in book for place your order before
MIN_MARK_PRICE_PRICE_GAPS=3# Min number of price gap between order price and mark price
# 1 - Single market maker | 2 - Parallel market maker
STRATEGY_TYPE=2
# (Individual for every strategy)
TRADING_MODE=1# 1 - Limit-Limit | 2 - Limit-Market
DEFAULT_ORDER_SIZE=15#Order size with will be use for open postions
POSITION_TIME_THRESHOLD_SECONDS=3600#After this TIME is over, position will try to close
